Repository sam-phinizy/vtt-remote: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, go-test, npm-lint, npm-typecheck, npm-test

golangci-lint:
  name: golangci-lint
  entry: bash -c 'cd server && golangci-lint run ./...'
  language: system
  pass_filenames: false

go-test:
  name: go test
  entry: bash -c 'cd server && go test -race ./...'
  language: system
  pass_filenames: false

npm-lint:
  name: npm lint
  entry: bash -c 'cd foundry-module && npm run lint'
  language: system
  pass_filenames: false

npm-typecheck:
  name: npm typecheck
  entry: bash -c 'cd foundry-module && npm run typecheck'
  language: system
  pass_filenames: false

npm-test:
  name: npm test
  entry: bash -c 'cd foundry-module && npm run test'
  language: system
  pass_filenames: false

feat: add actor info panel with real-time updates
  client/app.js
  client/index.html
  client/styles.css
  docs/protocol.md
  foundry-module/src/__tests__/adapters.test.ts
  foundry-module/src/adapters/dnd5e.ts
  foundry-module/src/adapters/index.ts
  foundry-module/src/adapters/types.ts
  foundry-module/src/core/messages.ts
  foundry-module/src/main.ts
Due: npm-lint, npm-typecheck, npm-test

feat: add usable abilities to info panel
  client/app.js
  client/index.html
  client/styles.css
  foundry-module/src/adapters/dnd5e.ts
  foundry-module/src/adapters/types.ts
  foundry-module/src/core/messages.ts
  foundry-module/src/main.ts
Due: npm-lint, npm-typecheck, npm-test

chore: add deployment configs and health endpoint
  deploy/.env.example
  deploy/DEPLOY.md
  deploy/Dockerfile
  deploy/docker-compose.yml
  deploy/nginx.conf
  deploy/vtt-remote.service
  server/main.go
Due: golangci-lint, go-test

feat: add dice rolling to phone client
  client/app.js
  client/index.html
  client/styles.css
  foundry-module/src/__tests__/messages.test.ts
  foundry-module/src/core/messages.ts
  foundry-module/src/main.ts
  server/message.go
  server/message_test.go
Due: golangci-lint, go-test, npm-lint, npm-typecheck, npm-test

feat(auth): add password-based login system and token picker
  .claude/settings.local.json
  Taskfile.yml
  client/app.js
  client/index.html
  client/styles.css
  foundry-module/languages/en.json
  foundry-module/package-lock.json
  foundry-module/package.json
  foundry-module/src/__tests__/auth.test.ts
  foundry-module/src/core/auth.ts
  foundry-module/src/core/index.ts
  foundry-module/src/core/messages.ts
  foundry-module/src/main.ts
  foundry-module/styles/remote.css
  foundry-module/templates/password-manager.html
  foundry-module/vite.config.ts
  server/main.go
Due: golangci-lint, go-test, npm-lint, npm-typecheck, npm-test

fix: production deployment and WSS support
  .claude/settings.local.json
  client-react/public/manifest.json
  client-react/vite.config.ts
  deploy/Dockerfile
  deploy/docker-compose.yml
  foundry-module/src/main.ts
  server/go.mod
  server/main.go
Due: golangci-lint, go-test, npm-lint, npm-typecheck, npm-test

feat: add QuickActions component and deployment task
  .claude/settings.local.json
  Taskfile.yml
  client-react/src/components/QuickActions.tsx
  client-react/src/screens/ControlScreen.tsx
  server/go.mod
Due: none

docs: add README and clean up deployment configs
  README.md
  deploy/.env.example
  deploy/DEPLOY.md
  deploy/Dockerfile
  deploy/nginx.conf
  deploy/vtt-remote.service
Due: none

chore: gitignore .claude/ directory
  .claude/settings.local.json
  .gitignore
Due: none

feat: add MkDocs Material documentation site
  Taskfile.yml
  deploy/docker-compose.yml
  docs/Dockerfile
  docs/docs/api/websocket.md
  docs/docs/development/architecture.md
  docs/docs/development/contributing.md
  docs/docs/getting-started/installation.md
  docs/docs/getting-started/quickstart.md
  docs/docs/guide/foundry-module.md
  docs/docs/guide/phone-client.md
  docs/docs/index.md
  docs/mkdocs.yml
Due: none

chore: simplify README and fix deploy task
  LICENSE
  README.md
  Taskfile.yml
  deploy/.env.example
  docs/docs/api/websocket.md
  docs/docs/guide/foundry-module.md
  docs/mkdocs.yml
  foundry-module/module.json
  scripts/setup-env.py
Due: none

refactor: move VTT Remote docs to subfolder
  README.md
  docs/.gitignore
  docs/docs/index.md
  docs/docs/vtt-remote/api/websocket.md
  docs/docs/vtt-remote/development/architecture.md
  docs/docs/vtt-remote/development/contributing.md
  docs/docs/vtt-remote/getting-started/installation.md
  docs/docs/vtt-remote/getting-started/quickstart.md
  docs/docs/vtt-remote/guide/foundry-module.md
  docs/docs/vtt-remote/guide/phone-client.md
  docs/docs/vtt-remote/index.md
  docs/mkdocs.yml
Due: none

chore: update Foundry VTT compatibility to v13
  foundry-module/module.json
Due: none

feat: add GitHub Actions deploy workflow and release task
  .github/workflows/deploy.yml
  Taskfile.yml
Due: none

chore: release v0.1.1
  foundry-module/module.json
Due: none

feat: add mDNS service discovery and local hostname display
  desktop/app.go
  desktop/frontend/src/App.tsx
  desktop/frontend/wailsjs/go/models.ts
  desktop/go.mod
  desktop/go.sum
  foundry-module/src/main.ts
Due: npm-lint, npm-typecheck, npm-test

fix: add contents:write permission for GitHub releases
  .github/workflows/deploy.yml
Due: none

chore: release v0.1.2
  foundry-module/module.json
Due: none

fix: CI lint and test failures
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  foundry-module/.eslintrc.json
  foundry-module/src/core/auth.ts
Due: npm-lint, npm-typecheck, npm-test

fix: correct module.zip download URL to match release artifact name
  foundry-module/module.json
Due: none

chore: release v0.1.3
  foundry-module/module.json
Due: none

Path conditions:
  golangci-lint: any of: ^server/.*\.go$
  go-test: any of: ^server/.*\.go$
  npm-lint: any of: ^foundry-module/.*\.(ts|js)$
  npm-typecheck: any of: ^foundry-module/.*\.ts$
  npm-test: any of: ^foundry-module/.*\.ts$
